name: govulncheck
on:
  push:
  pull_request:
  schedule: # daily at 03:37 UTC
    - cron: '37 03 * * *'
  workflow_dispatch:
permissions:
  contents: read
jobs:
  govulncheck:
    name: Check Vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: |
          go run golang.org/x/vuln/cmd/govulncheck@latest -show verbose,color ./...